@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Rubik Spray Paint', cursive;
}

.posicionamiento{
    width: 500px;
    height: 500px;
    background: #ffffff;
    margin: 50px auto;
    text-align: center;
    color: #333533;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 40px;
}

.title{
    border-bottom: 3px solid black;
}

.static{
    width: 150px;
    height: 150px;
    background: #ffe45e;
    line-height: 150px;
    font-weight: bold;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.absolute{
    width: 150px;
    height: 150px;
    background: chartreuse;
    line-height: 150px;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    /* activar propiedades en X Y Z-INDEX */
    left: 300px;
    top: 350px;
    /* z-index: -10; */

}

.fixed{
    width: 150px;
    height: 150px;
    background: #ff4d6d;
    line-height: 150px;
    font-weight: bold;
    position: fixed;
    /*activarpropiedadesenXYZ-INDEX*/
    right: 690px;
    top: 150px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    z-index: 10px;
}

.relative{
    width: 150px;
    height: 150px;
    background: #00bbf9;
    line-height: 150px;
    font-weight: bold;
    position: relative;
    /*activarpropiedadesenXYZ-INDEX*/
    left: 290px;
    top: 100px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

.contenedor1{

    width: 500px;
    height: 500px;
    background: #ffffff;
    margin: 50px auto;
    text-align: center;
    color: #333533;
    position: relative;
    /* position: absolute; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 40px;

}

.z{
   text-shadow: 3px 3px 5px #333533; 
   border-bottom: 2px solid #ff4d6d; 
}


.item1{

    width: 150px;
    height: 150px;
    background: #00bbf9;
    line-height: 150px;
    font-weight: bold;
    position: relative;
    /*activarpropiedadesenXYZ-INDEX*/


    
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;

}

.item2{

    width: 150px;
    height: 150px;
    background: #f0a6ca;
    line-height: 150px;
    font-weight: bold;
    position: relative;
    /*activarpropiedadesenXYZ-INDEX*/

    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;

}

.contenedor2{
    width: 150px;
    height: 150px;
    background: #9b5de5;
    line-height: 150px;
    font-weight: bold;
    position: relative;
    margin: 50px auto;
    /*activarpropiedadesenXYZ-INDEX*/

    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;

}






